body {
  display: grid;
  grid-template-columns: 2% 30% 68%;
  grid-template-rows: 5% 1fr;
  background-image: url("https://images.dog.ceo/breeds/setter-irish/n02100877_309.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  grid-column: 2;
  grid-row: 2;
  background-color: white;
  opacity: 0.7;
  height: 300px;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 10%;
}

h1 {
  font-size: 40px;
  padding-bottom: 15px;
  color: green;
  font-stretch: extra-expanded;
}

button {
  background-color: lightblue;
  border-radius: 10%;
  border-width: thick;
  border-color: green;
  border-style: ridge;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  padding: 10px;
}

p {
  margin-top: 20px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
